################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/cloudy-pie/v15/.suo
/.vs/cloudy-pie/v15
/.vs
